@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@600&display=swap');


/* Polices */
h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

p,
a {
    font-family: 'Inter', sans-serif;
}

/* STYLE DE LA MAP */
#map {
    margin-top: 3em;
    height: 400px;
    margin-bottom: -15px;
    margin-inline: 3em;
}

/* STYLE DE LA BANNIERE*/
.title-content {
    height: fit-content;
    padding: 45px 10px 45px 10px;
    margin-left: -10px;
    margin-right: -10px;;
    width: 100%;
    margin-top: 19em;
    background: #181925;
    box-shadow: 0px -10px 12px rgba(0, 0, 0, 0.25), 0px 10px 12px rgba(0, 0, 0, 0.15);
    transform: rotate(-3.51deg);
    text-align: center;
    color: var(--main-yellow-color);
}


/* STYLE DU TITRE*/
.title-content h2,
.title-content h3,
.title-content hr {
    transform: rotate(3.51deg)!important;
}

/* STYLE DU SEPARATEUR*/
.title-content hr {
    width: 5%;
    background-color: var(--main-yellow-color);
    border: none;
    height: 1px;
}


/* STYLE TITRE MAP */

div.title-map {
    text-align: center;
    margin-top: 3em;
    color: var(--main-yellow-color);
}

/* STYLE SEPARATEUR MAP */
div.title-map hr {
    width: 5%;
    border: none;
    background-color: var(--main-yellow-color);
    height: 3px;
}

/* STYLE MAIN WRAPPER */
.main_wrapper {
    margin: 15vh 3em 0 3em;
}


/* STYLE DU SLIDER ET DE LA DESCRIPTION DE L'IMAGE */
.main_wrapper section {
    flex: 1;
}

/* STYLE LA DESCRIPTION DU SLIDER */
.desc_text {
    background-color: var(--main-green-color);
    margin: 0;
    padding: 2vw;
}

/* STYLE DES TITRES DE LA DESCRIPTION*/
.desc_text h2 {
    margin: 0;
    text-align: center;
    color: var(--main-font-color);
    margin-block: 3vh;
    font-size: 2vmax;
    background-color: transparent;
    text-shadow: #000000;
}


/* STYLE DES SOULIGNEMENTS DE SOUS-TITRES DE LA DESCRIPTION*/
.desc_text h3::after {
    content: "";
    display: block;
    height: 3px;
    margin-top: 3px;
    width: 10%;
    background: var(--main-yellow-color);
}

/* STYLE DES SOUS-TITRES DE LA DESCRIPTION*/
.desc_text div h3 {
    margin: 0;
    margin-block: 2vh;
    color: var(--main-font-color);
    font-size: 1.3vmax;
}


/* STYLE DES PARAGRAPHES DE LA DESCRIPTION*/
.desc_text div p {
    margin: 0;
    color: var(--main-font-color);
    text-justify: auto;
    font-size: 1.3vmax;
}

/* STYLE DES PAGINATIONS DU SLIDER(QUAND POSSEDE LA CLASE ACTIVE)*/
.splide__pagination__page.is-active {
    background: var(--main-yellow-color);
    border: 2px solid var(--main-yellow-color);
}

/* STYLE DES PAGINATIONS DU SLIDER(QUAND NE POSSEDE PAS LA CLASE ACTIVE)*/
.splide__pagination__page {
    margin: 5px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 100%;
    border: 3px solid var(--main-yellow-color);
    font-size: 24px;
    font-family: "Abril Fatface", serif;
    transform: scale(0.5);
    cursor: pointer;
}

/* STYLE DES PAGINATIONS DU SLIDER(LAYOUT)*/
.splide__pagination {
    position: absolute;
    transform: translateY(-4em);
    left: -53.5%;
    padding: 0;
    width: 100%;
}




/* STYLE DES IMAGES DU SLIDER(LAYOUT)*/
.splide__slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
