@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@600&display=swap');

/* POLICES*/

h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
}

p, a {
    font-family: 'Inter', sans-serif;
}

/* STYLE BANNIERE TITRE */

div.title-content {
    height: fit-content;
    padding: 45px 10px 45px 10px;
    margin-left: -10px;
    margin-right: -10px;;
    width: 100%;
    margin-top: 19em;
    background: #181925;
    box-shadow: 0px -10px 12px rgba(0, 0, 0, 0.25), 0px 10px 12px rgba(0, 0, 0, 0.15);
    transform: rotate(-3.51deg);
    text-align: center;
    color: var(--main-yellow-color);
}

/* STYLE TITRE */
    div.title-content h2,
    div.title-content h3,
    div.title-content hr {
        transform: rotate(3.51deg)!important;
    }

/* STYLE SEPARATEUR*/
    div.title-content hr {
        width: 15%;
        background-color: var(--main-yellow-color);
        border: none;
        height: 1px;
    }


/* STYLE DIV TEXTE*/
div.text-content {
    width: 80%;
    margin: 120px auto 0 auto;
    display: flex;
    justify-content: center;
    color: var(--main-font-color);
}

/* STYLE LIENS */
div.text-content a {
    color: var(--main-yellow-color);
    text-decoration: none;
}